[class^="col"] {
    padding: .2rem;
}

.card {
    height: 50px;
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: center;    
}

[class^="col"] > .nest {
    padding: 1rem;
}

.nest {
    background-color: white;
    height: 30px;
}


